# # All Ignore
# *


# # Except
# # Emacs
# !/.emacs.d/init.el
# !/.emacs.d/conf
# !/.emacs.d/elisp
# !/.emacs.d/public_repos
elpa/
recentf

# !/.bashrc
# |/.zshrc
# !/.gitconfig
# !/.gitignore
# !/.screenrc
# !/.minttyrc
# .

dotfiles/emacs.d/auto-save-list/